<div class="row has-header magic-gradient">
  <div class="col-sm-8 offset-sm-2">

    <div class="row text-center">
      <div class="col">
        <div class="header-info">
          <p class="text-white">Magic Software&#9400;</p>
          <h1 class="text-white magic-font"> Magic table </h1>
          <h2 class="roboto"> Simple, customizable and magic table for Angular 4.x.x</h2>
        </div>
      </div>
    </div>

    <div class="row text-center section-margin">
      <div class="col">
        <button type="button" role="button" class="btn btn-magic-transparent" (click)="open('https://github.com/magic-software-lab/ngx-magic-table')" >View on Github <i class="fa fa-github" aria-hidden="true"></i></button>
      </div>
    </div>

    <div class="row text-center section-margin">
      <div class="col">
        <a role="button" href="https://github.com/magic-software-lab/ngx-magic-table"><img src="https://img.shields.io/github/stars/magic-software-lab/ngx-magic-table.svg?style=social&amp;label=Star&amp;maxAge=3600" alt="Stars on GitHub"></a>
        <a role="button" href="https://github.com/magic-software-lab/ngx-magic-table"><img src="https://img.shields.io/github/forks/magic-software-lab/ngx-magic-table.svg?style=social&amp;label=Fork&amp;maxAge=3600" alt="Forks on GitHub"></a>
      </div>
    </div>

    <div class="row text-center section-half-margin">
      <div class="col">
        <a href="https://travis-ci.org/magic-software-lab/ngx-magic-table"><img src="https://camo.githubusercontent.com/dbc65223715646effd85ad588716249f6ab051d9/68747470733a2f2f7472617669732d63692e6f72672f6d616769632d736f6674776172652d6c61622f6e67782d6d616769632d7461626c652e7376673f6272616e63683d6d6173746572" alt="Build Status" data-canonical-src="https://travis-ci.org/magic-software-lab/ngx-magic-table.svg?branch=master" style="max-width:100%;"></a>      
        <a href="https://www.npmjs.com/package/@magic-software/ngx-magic-table"><img src="https://img.shields.io/npm/v/@magic-software/ngx-magic-table.svg" alt="Current version"></a>
        <a href="https://www.npmjs.com/package/@magic-software/ngx-magic-table"><img src="https://img.shields.io/npm/dm/@magic-software/ngx-magic-table.svg?maxAge=3600" alt="Monthly downloads"></a>
      </div>
    </div>

  </div>
</div>

<div class="row magic-blue has-header">
  <div class="col-sm-8 offset-sm-2">

    <div class="ontop container">
      <div class="row">
        <div class="col">
            <app-main-demo-section></app-main-demo-section>
          
        </div>
      </div>
    </div>

  </div>
</div>

<div class="row magic-blue has-header">
  <div class="col-sm-8 offset-sm-2">


  </div>
</div>


