.header-info {
    margin-top: 80px;

    h1 {
        font-size: 4em;
    }

    h2 {
        font-size: 1.7em;
        padding-top: 20px;
        color: white;
    }
}

.header-padding-bottom {
    margin-bottom: 200px;
}

.section-margin {
    margin-top: 40px;
}

.section-half-margin {
    margin-top: 20px;
}

.magic-gradient {
    padding-bottom: 40px;
}

.ontop {
    padding: 0px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 10px 20px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: 0 10px 20px rgba(34,25,25,0.4);
    -webkit-box-shadow: 0 10px 20px rgba(34, 25, 25, 0.4);
    border-top:0px;
}

.magic-blue {
    padding-bottom: 60px;

    box-shadow: 0 10px 20px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: 0 10px 20px rgba(34,25,25,0.4);
    -webkit-box-shadow: 0 10px 20px rgba(34, 25, 25, 0.4);
    margin-bottom: 20px;
}