.header-info {
    margin-top: 100px;

   .text-enterprise {
        color: #797777;
    }

    h1 {
        font-size: 4em;
    }

    h2 {
        font-size: 1.7em;
        padding-top: 20px;
        color: #6b6a6a;
    }
}