<div class="row has-header">
  <div class="col-sm-8 offset-sm-2">

    <div class="row text-center">
      <div class="col">
        <div class="header-info">
          <p class="text-enterprise">Magic Software&#9400;</p>
          <h1 class="magic-color magic-font"> Magic table </h1>
          <h2>Simple, customizable and <span class="magic-color">magic</span> table for Angular 4.x.x</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row magic-blue has-header">
  <div class="col-sm-8 offset-sm-2">

    
    <app-demo></app-demo>

  </div>
</div>


