@import url('https://fonts.googleapis.com/css?family=Roboto:300');

.roboto {
    font-family: 'Roboto', sans-serif;
}

.magic-color {
    color: #0088aa;
}

.magic-font {
    font-family: 'somaticrounded';
}