dist/
dist-demo/
node_modules/
coverage/
out-tsc/
debug.log
npm-debug.log
src/**/*.js
src/**/*.css
!src/demo/systemjs.config.js
!src/demo/systemjs.config.lib.js
*.js.map
*.css.map
e2e/**/*.js
e2e/**/*.js.map
