.features {
    font-family: 'Roboto';

    h1 {
        padding-bottom: 20px;  
    }

    h2 {
        
    }

    pre {
        padding: 15px;
    }

    .col {
        padding: 20px;
    }
}

#getStarted {
    padding-bottom: 30px;
}