@font-face {
    font-family: 'somaticrounded';
    src: url('../fonts/somatic/somatic-rounded-webfont.woff2') format('woff2'),
         url('../fonts/somatic/somatic-rounded-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}