
<nav class="navbar navbar-toggleable-md navbar-light bg-faded fixed-top" 
      data-spy="affix" 
      data-offset-top="197"
      [ngClass]="(scrollTop && homeActive)?'navbar-transparent':'navbar-white'">
  <button class="navbar-toggler navbar-toggler-right" (click)="isCollapsed = !isCollapsed" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a *ngIf="!scrollTop || !isCollapsed || !homeActive" class="navbar-brand magic-color magic-font" [routerLink]="['']" href="#">Magic Table</a>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li *ngFor="let menu of menus" class="nav-item" [ngClass]="(activateMenu === menu.route)?'active':''">
        <a class="nav-link" role="button" *ngIf="menu.type === 'link'" [attr.href]="menu.route" [attr.target]="menu.target">{{ menu.name }}</a>

        <a class="nav-link" role="button" *ngIf="menu.type === 'navigate'" [routerLink]="[menu.route]">{{ menu.name }}</a>

        <a class="nav-link" role="button" *ngIf="menu.type === 'scrolling'" (click)="scrollingTo(menu)">{{ menu.name }}</a>
      </li>
    </ul>
  </div>
</nav>

<div (collapsed)="collapsed($event)"
     (expanded)="expanded($event)"
     [collapse]="isCollapsed"
     class="card card-block card-header has-header menu-collapsed-fixed">
  
  <div *ngFor="let menu of menus" class="well well-lg">
    <a role="button" *ngIf="menu.type === 'link'" [attr.href]="menu.route" (click)="isCollapsed = true" [attr.target]="menu.target">
      <div class="row">
        <div class="col">
          {{ menu.name }}
        </div>
      </div>
    </a>

    <a role="button" *ngIf="menu.type === 'navigate'" (click)="isCollapsed = true" [routerLink]="[menu.route]">
      <div class="row">
        <div class="col">
          {{ menu.name }}
        </div>
      </div>
    </a>

    <a role="button" *ngIf="menu.type === 'scrolling'" (click)="scrollingTo(menu)" (click)="isCollapsed = true">
      <div class="row">
        <div class="col">
          {{ menu.name }}
        </div>
      </div>
    </a>
  </div>
</div>
