.footer {
    height: 150px;
    -webkit-box-shadow: 10px 0px 20px rgba(0,0,0,.8);
    -moz-box-shadow: 10px 0px 20px rgba(0,0,0,.8);
    box-shadow: 10px 0px 20px rgba(0,0,0,.8);
    margin-top: 20px;
    line-height: 0.7em;


    p {
        color: white;
    }

    .align-bottom {
        bottom: 0;
    }
}